.list-group-item.active.seethru {
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: none;
    border: 1px solid #428bca;
}

.list-group-item.active.blue {
    background-color: #428bca;
    border-color: #428bca;
}

.list-group-item.active.orange {
    background-color: #ff3f85;
    border-color: #ff3f85;
}

.list-group-item.active.teal {
    background-color: #b97fc1;
    border-color: #b97fc1;
}

.list-group-item.active.pink {
    background-color: #4DBFBF;
    border-color: #4DBFBF;
}

.btn-primary.blue {
    background-color: #428bca;
    border-color: #428bca;
}

.btn-primary.orange {
    background-color: #ff3f85;
    border-color: #ff3f85;
}

.btn-primary.teal {
    background-color: #b97fc1;
    border-color: #b97fc1;
}

.btn-primary.pink {
    background-color: #4DBFBF;
    border-color: #4DBFBF;
}
